<header class="border d-flex align-items-center">
    <div class="d-flex justify-content-between align-items-center w-100">
        <div class="d-flex align-items-center">
            <span class="menu-burger" (click)="toggleSidebar()">
                <i class="bi bi-list"></i>
            </span>
            <!-- <p class="px-2 m-0 font-medium nomBoutique">{{selectedBoutiqueInfo.name}}</p> -->
        </div>
        <div class="d-flex align-items-center">
            <ul class="d-flex p-0 m-0 align-items-center headerIcon">
                <li class="mx-2 iconhide"><i class="bi bi-list-check text-pointer"></i></li>
                <li class="mx-2 iconhide"><i class="bi bi-brightness-high text-pointer"></i></li>
                <li class="mx-2">
                    <div class="relative group dropdown">
                        <div class="flex items-center border-0 rounded-t-lg py-1 px-2 dropdown-toggle" type="button"
                            data-bs-toggle="dropdown">
                            <!-- <img src="/assets/profil/m1.jpg" class="photoUser"> -->
                            <!-- {{userInfo.first_name}} {{userInfo.last_name}} -->
                        </div>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Action2</a></li>
                            <!-- <li><a class="dropdown-item text-pointer" (click)="logout()">Se déconnecter</a></li> -->
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</header>